In [ ]:
a = 5
a

5

In [ ]:
# Normal Distrubution ---> from central tendancy , left and right value will be equal .

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("/content/covid_toy.csv")
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [ ]:
# df.isnull().sum()

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
si = SimpleImputer(strategy="mean")

In [ ]:
df['fever'] = si.fit_transform(df[['fever']])  ### fit means learn the paramter and transform means apply on data.

In [ ]:
# df.isnull().sum()

In [ ]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [ ]:
df['gender'] = df['gender'].map({"Male":0 , "Female":1})
df['cough'] = df['cough'].map({"Mild":0 , "Strong":1})
df['has_covid'] = df['has_covid'].map({"Yes":0 , "No":1})

In [ ]:
df.head(2)

   age  gender  fever  cough     city  has_covid
0   60       0  103.0      0  Kolkata          1
1   27       0  100.0      0    Delhi          0

In [ ]:
df = df.drop(columns = ['city'])

In [ ]:
df.head(2)

   age  gender  fever  cough  has_covid
0   60       0  103.0      0          1
1   27       0  100.0      0          0

In [ ]:
x = df.drop(columns = ['has_covid'])
y = df['has_covid']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state = 42)

In [ ]:
np.round(x_train.describe() , 2)

         age  gender   fever  cough
count  80.00   80.00   80.00  80.00
mean   42.91    0.59  100.98   0.40
std    24.47    0.50    1.93   0.49
min     5.00    0.00   98.00   0.00
25%    20.00    0.00  100.00   0.00
50%    42.00    1.00  101.00   0.00
75%    65.00    1.00  102.00   1.00
max    84.00    1.00  104.00   1.00

In [ ]:
# for converting our data into Normal Distribution we will use StandardScaler

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc = StandardScaler()

In [ ]:
x_train_sc = sc.fit_transform(x_train)

In [ ]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)

In [ ]:
np.round(x_train_new.describe() , 2)

         age  gender  fever  cough
count  80.00   80.00  80.00  80.00
mean   -0.00   -0.00  -0.00  -0.00
std     1.01    1.01   1.01   1.01
min    -1.56   -1.19  -1.56  -0.82
25%    -0.94   -1.19  -0.51  -0.82
50%    -0.04    0.84   0.01  -0.82
75%     0.91    0.84   0.53   1.22
max     1.69    0.84   1.57   1.22

In [ ]:
# Age = 1,2,3,4,5
# mean= (1+2+3+4+5)/5 = 15/5 = 3
# std = sqrt(sum(xi-mean)**2/N)
# sqrt((1-3)**2 + (2-3)**2 + (3-3)**2 + (4-3)**2 + (5-3)**2)/5
# sqrt(4+1+0+1+4)/5 = sqrt(2) = 1.2  = 1

# standrd deviation  = (x_current - mean)/standard_deviation
# Age' = (1-3)/1 = -2  , (2-3)/1 = -1 , (3-3)/1 = 0 , (4-3)/1 = 1 , (5-3)/1 = 2
# Age' = -2,-1,0,1,2
# mean = (-2-1+0+1+2)/5 = 0
# std = 1