In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import seaborn as sns

In [ ]:
df=sns.load_dataset('tips')

In [ ]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
df['sex']=df['sex'].map({"Male":0,"Female":1})

In [ ]:
df['smoker']=df['smoker'].map({"Yes":0,"No":1})

In [ ]:
df['time']=df['time'].map({"Dinner":0,"Lunch":1})

In [ ]:
df.drop(columns=['day'] ,inplace=True)

In [ ]:
x=df.drop(columns=['tip'])

In [ ]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
time          0
size          0
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
y=df['tip']

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,
                                               test_size=0.2,random_state=42 )

In [ ]:
np.round(x_train.describe() , 2)

       total_bill    size
count      195.00  195.00
mean        20.22    2.57
std          8.77    0.94
min          5.75    1.00
25%         13.66    2.00
50%         17.92    2.00
75%         24.86    3.00
max         50.81    6.00

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc = StandardScaler()

In [ ]:
x_train_sc = sc.fit_transform(x_train)

In [ ]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)

In [ ]:
np.round(x_train_new.describe() , 2)

       total_bill     sex  smoker    time    size
count      195.00  195.00  195.00  195.00  195.00
mean         0.00    0.00   -0.00    0.00   -0.00
std          1.00    1.00    1.00    1.00    1.00
min         -1.65   -0.73   -1.26   -0.61   -1.68
25%         -0.75   -0.73   -1.26   -0.61   -0.61
50%         -0.26   -0.73    0.79   -0.61   -0.61
75%          0.53    1.37    0.79    1.64    0.45
max          3.50    1.37    0.79    1.64    3.65