In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('/content/Attrition - Attrition.csv')

In [ ]:
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [ ]:
df.drop(columns=['Department','EducationField','Gender'],inplace=True)

In [ ]:
df['Attrition']=df['Attrition'].map({'Yes':0,'No':1})

In [ ]:
df['BusinessTravel']=df['BusinessTravel'].map({'Travel_Rarely':0,'Travel_Frequently':1,'Non-Travel':3})

In [ ]:
df['BusinessTravel'].value_counts()

BusinessTravel
0    1043
1     277
3     150
Name: count, dtype: int64

In [ ]:
x=df.drop(columns=['Attrition'])
y=df['Attrition']

In [ ]:
df

,Age,Attrition,BusinessTravel,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,0,0,1102,1,2,1,1,2,94,...,1,80,0,8,0,1,6,4,0,5
1,49,1,1,279,8,1,1,2,3,61,...,4,80,1,10,3,3,10,7,1,7
2,37,0,0,1373,2,2,1,4,4,92,...,2,80,0,7,3,3,0,0,0,0
3,33,1,1,1392,3,4,1,5,4,56,...,3,80,0,8,3,3,8,7,3,0
4,27,1,0,591,2,1,1,7,1,40,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,1,1,884,23,2,1,2061,3,41,...,3,80,1,17,3,3,5,2,0,3
1466,39,1,0,613,6,1,1,2062,4,42,...,1,80,1,9,5,3,7,7,1,7
1467,27,1,0,155,4,3,1,2064,2,87,...,2,80,1,6,0,3,6,2,0,3
1468,49,1,1,1023,2,3,1,2065,4,63,...,4,80,0,17,3,2,9,6,0,8
1469,34,1,0,628,8,3,1,2068,2,82,...,1,80,0,6,3,4,4,3,1,2

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,
                                               test_size=0.2,random_state=42)

In [ ]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(1176, 31)
(294, 31)
(1176,)
(294,)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
mn=MinMaxScaler()

In [ ]:
x_train_mn=mn.fit_transform(x_train)

ValueError: could not convert string to float: 'Laboratory Technician'

In [ ]:
x_train_new=pd.DataFrame(x_train_mn,columns=x_train.columns)

In [ ]:
np.round(x_train_new.describe(),2)