In [67]:
import numpy as np
import pandas as pd
import seaborn as sns

In [68]:
df=sns.load_dataset('tips')

In [69]:
df.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

In [70]:
df=df.dropna()

In [71]:
df=df.drop(columns=['day'])

In [72]:
## APPROACH-1. : LabelEncoder

In [73]:
from sklearn.preprocessing import LabelEncoder

In [74]:
lb=LabelEncoder()

In [75]:
df['sex']=lb.fit_transform(df['sex'])
df['smoker']=lb.fit_transform(df['smoker'])
df['time']=lb.fit_transform(df['time'])

In [76]:
df.head(2)

   total_bill   tip  sex  smoker  time  size
0       16.99  1.01    0       0     0     2
1       10.34  1.66    1       0     0     3

In [77]:
## APPROACH-2: OrdinalEncoding

In [78]:
df=sns.load_dataset('tips')

In [79]:
df.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

In [80]:
df['time'].value_counts()

time
Dinner    176
Lunch      68
Name: count, dtype: int64

In [81]:
df=df.drop(columns=['total_bill','tip','day','size'])

In [82]:
df=df.dropna()

In [83]:
df_new=df.copy()

In [84]:
from sklearn.preprocessing import OrdinalEncoder

In [85]:
oe=OrdinalEncoder(categories=[['Female','Male'],
                               ['No','Yes'],
                               ['Dinner','Lunch']])

In [86]:
oe_df=oe.fit_transform(df)

In [87]:
df_oe=pd.DataFrame(oe_df,columns=df_new.columns)

In [88]:
df_oe

     sex  smoker  time
0    0.0     0.0   0.0
1    1.0     0.0   0.0
2    1.0     0.0   0.0
3    1.0     0.0   0.0
4    0.0     0.0   0.0
..   ...     ...   ...
239  1.0     0.0   0.0
240  0.0     1.0   0.0
241  1.0     1.0   0.0
242  1.0     0.0   0.0
243  0.0     0.0   0.0

[244 rows x 3 columns]

In [89]:
## APPROACH 3: ONEHOTENCODER

In [90]:
df=sns.load_dataset('tips')

In [91]:
new=df.columns

In [92]:
from sklearn.preprocessing import OneHotEncoder

In [93]:
ohe=OneHotEncoder(drop='first',sparse_output=False,dtype=np.int32)

In [94]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [95]:
oh=ohe.fit_transform(df[['sex','smoker','day','time']])

In [96]:
df=pd.DataFrame(oh,columns=ohe.get_feature_names_out(['sex','smoker','day','time']))

In [97]:
df

     sex_Male  smoker_Yes  day_Sat  day_Sun  day_Thur  time_Lunch
0           0           0        0        1         0           0
1           1           0        0        1         0           0
2           1           0        0        1         0           0
3           1           0        0        1         0           0
4           0           0        0        1         0           0
..        ...         ...      ...      ...       ...         ...
239         1           0        1        0         0           0
240         0           1        1        0         0           0
241         1           1        1        0         0           0
242         1           0        1        0         0           0
243         0           0        0        0         1           0

[244 rows x 6 columns]

In [98]:
## APPROACH: 4 GET_DUMMIES

In [99]:
df=sns.load_dataset('tips')

In [100]:
df=df.dropna()

In [101]:
df=pd.get_dummies(df,columns=['sex','smoker','day','time'],drop_first=True)

In [102]:
df=df.astype(int)

In [103]:
df

,total_bill,tip,size,sex_Female,smoker_No,day_Fri,day_Sat,day_Sun,time_Dinner
0,16,1,2,1,1,0,0,1,1
1,10,1,3,0,1,0,0,1,1
2,21,3,3,0,1,0,0,1,1
3,23,3,2,0,1,0,0,1,1
4,24,3,4,1,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...
239,29,5,3,0,1,0,1,0,1
240,27,2,2,1,0,0,1,0,1
241,22,2,2,0,0,0,1,0,1
242,17,1,2,0,1,0,1,0,1
243,18,3,2,1,1,0,0,0,1