In [28]:
import numpy as np
import pandas as pd

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

from sklearn.preprocessing import OrdinalEncoder

In [29]:
df=pd.read_csv("/content/covid_toy.csv")

In [30]:
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [31]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [32]:
x=df.drop(columns=['has_covid'])

In [33]:
y=df['has_covid']

In [41]:
from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test = train_test_split(df.drop(
columns = ['has_covid' ]) , df['has_covid' ] , test_size = 0.2)

In [36]:
x_train.shape

(80, 5)

In [37]:
x_train

    age  gender  fever   cough       city
45   72    Male   99.0    Mild  Bangalore
62   56  Female  104.0  Strong  Bangalore
93   27    Male  100.0    Mild    Kolkata
33   26  Female   98.0    Mild    Kolkata
4    65  Female  101.0    Mild     Mumbai
..  ...     ...    ...     ...        ...
29   34  Female    NaN  Strong     Mumbai
8    19  Female  100.0  Strong  Bangalore
57   49  Female   99.0  Strong  Bangalore
47   18  Female  104.0    Mild  Bangalore
84   69  Female   98.0  Strong     Mumbai

[80 rows x 5 columns]

In [39]:
# adding simple imputer to fever column
si = SimpleImputer(strategy = "mean")
x_train_fever = si.fit_transform(x_train[['fever']])

# also the test data
x_test_fever = si.fit_transform(x_test[['fever']])

x_train_fever.shape

(80, 1)

In [40]:
# Ordinal Encoding -- > Cough

oe = OrdinalEncoder(categories = [['Mild' , 'Strong' ]])
x_train_cough = oe.fit_transform(x_train[['cough']])

# also the test data
x_test_cough = oe.fit_transform(x_test[['cough']])

x_train_cough.shape

(80, 1)

In [42]:
# OneHotEncoding -- > Gender , city

ohe = OneHotEncoder(drop = 'first' , sparse_output = False )
x_train_gender_city = ohe.fit_transform(x_train[['gender' , 'city']])

# also the test data
x_test_gender_city = ohe.fit_transform(x_test[['gender' , 'city']])

x_train_gender_city.shape

(80, 4)

In [43]:
# Extracting Age

x_train_age = x_train.drop(columns =
['gender' , 'fever' , 'cough' , 'city' ]). values

# also the test data

x_test_age = x_test.drop(columns =
['gender' , 'fever' , 'cough' , 'city']).values

In [44]:
x_train_age.shape

(80, 1)

In [45]:
x_train_transformed = np.concatenate((x_train_age , x_train_fever ,
x_train_gender_city ,
x_train_cough) , axis = 1)

In [46]:
x_train_transformed.shape

(80, 7)

In [49]:
from sklearn.compose import ColumnTransformer

transformer = ColumnTransformer(transformers=[
('tnf1',SimpleImputer(), ['fever']), #help of SI we
# fill missing values by mean , median , mode .
('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]), ['cough']),
# by this process we encode our data . |
('tnf3',OneHotEncoder(sparse_output=False, drop='first'), ['gender','city'])
],remainder='passthrough') # remainder = passthrough == >
# it means rest all the columns remain same .

# this is how to import ColumnTransformer

In [50]:
transformer.fit_transform(x_train).shape

(80, 7)